// Общие стили для кнопок

.btn {
	transition: color 0.3s linear, border-color 0.3s linear;
	display: inline-block;
	vertical-align: middle;
	padding: 10px 20px;
	border-radius: 5px;
	text-align: center;
	border: none;

	&:hover {
		text-decoration: none;
		outline: none;
	}

	// Стили для кнопок без обводки вариант один

	// &.btn-primary {
	// 	background-color: $blue;
	// 	color: #fff;

	// 	&:hover {
	// 		background-color: $dark-blue;
	// 	}
	// }

	// Стили для кнопок без обводки вариант два

	// &.btn-secondary {
	// 	background-color: $green;
	// 	color: #fff;

	// 	&:hover {
	// 		background-color: $dark-green;
	// 	}
	// }

	// Стили для кнопок с обводкой вариант один

	&.btn-outline-1 {
		background-color: transparent;
		padding: 15px 21px;
		border: 2px solid $white;
		text-transform: uppercase;
		color: $white;

		@include media ('>=tablet') {
					font-size: 16px;
				}

		&:hover {
			border-color: shade($white, 50%);
			color: shade($white, 50%);
		}
	}

	// Стили для кнопок с обводкой вариант два

	// &.btn-outline-secondary {
	// 	background-color: transparent;
	// 	border: 2px solid $green;
	// 	color: $green;

	// 	&:hover {
	// 		background-color: $dark-green;
	// 		border-color: $dark-green;
	// 		color: #fff;
	// 	}
	// }

	// Стили для блочной кнопки которая тянется по ширине родителя

	// &.btn-block {
	// 	display: block;
	// 	width: 100%;
	// }
}
